<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.selflearn.alwarrenter"
    android:fullBackupContent="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="Seller.ActivityPostNewProperty" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name="AddressAndMap.MapActivity" />
        <activity
            android:name="User.ActivityPropertyForRentUI"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity_Choose_Image_From_Gallery" />
        <activity
            android:name="User.BottomNavActivity"
            android:exported="true" />
        <activity
            android:name="User.UserDashBoardHomeActivity"
            android:theme="@style/DashBoard" />
        <activity android:name="Admin.AdminLoginActivity" />
        <activity
            android:name="User.UserProfileActivity"
            android:theme="@style/DashBoard" />
        <activity android:name="Seller.ActivitySetting"/>
        <activity android:name="Seller.SellerLoginActivity" />
        <activity android:name="FirebaseConnectivity.MobileAuthenticationActivity" />
        <activity android:name="User.UserLoginActivity" />
        <activity android:name="User.ActivityUserRequests" />
        <activity android:name="User.UserSignUpActivity" />
        <activity android:name="User.ShowDetailsOfProperty"
            android:theme="@style/AppTheme2"
            >

        </activity>
        <activity android:name="Admin.AdminDashBoardActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Seller.ActivityAfterMobileAuth" />
        <activity android:name="AddressAndMap.TakingAddressActivity" />
        <activity android:name="Seller.SellerLoginMobileAuth" />
        <activity android:name="Seller.SellerSignUpActivity" />
        <activity android:name="User.ChangePasswordActivity" />
        <activity android:name="AccountHandler.ActivityChooseLoginType"/>
        <activity android:name="User.ActivitySetting" />
        <activity android:name="User.ActivityUserEditProfile" />
        <activity android:name=".ChooseLoginTypeActivity" />
        <activity android:name="User.CongoUI" />
        <activity android:name="Seller.UploadPropertyImage"/>
        <activity android:name="Seller.ActivityFindRentalProperty"/>
        <activity android:name="Seller.MyRequestActivitySeller"/>
        <activity android:name="Admin.ActivityListUsers"/>
        <activity android:name="User.SelectAnyOption" />
        <activity android:name="Seller.SellerDashboardActivity" />
        <activity android:name="Helper.ForgotPasswordHelper" />
        <activity android:name="Seller.MyCustomerActivity" />
        <activity android:name="Seller.YourRequestsActivity" />
        <activity android:name="Seller.MyPostActivity" />
        <activity android:name="Seller.ActivitySellerEditProfile" />
        <activity android:name="FirebaseConnectivity.ActivityAfterMobileAuth" />
        <activity android:name=".ActivityChooseLoginMethod" />
        <activity
            android:name="Seller.Fragement.SellerDashBoardHomeFragment"
            android:theme="@style/DashBoard"
            tools:ignore="Instantiatable" />
        <activity
            android:name="Seller.Fragement.SellerProfileFragment"
            android:theme="@style/DashBoard"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splash">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>